Checks: '*,
        -bugprone-easily-swappable-parameters,
        -cppcoreguidelines-avoid-goto,
        -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
        -cppcoreguidelines-pro-type-reinterpret-cast,
        -cppcoreguidelines-virtual-class-destructor,
        -fuchsia-default-arguments-calls,
        -fuchsia-default-arguments-declarations,
        -fuchsia-overloaded-operator,
        -google-explicit-constructor,
        -google-readability-function-size,
        -google-runtime-int,
        -google-runtime-references,
        -hicpp-avoid-goto,
        -hicpp-explicit-conversions,
        -hicpp-function-size,
        -hicpp-no-array-decay,
        -hicpp-no-assembler,
        -hicpp-uppercase-literal-suffix,
        -llvm-header-guard,
        -llvm-include-order,
        -llvmlibc-*,
        -misc-no-recursion,
        -misc-non-private-member-variables-in-classes,
        -modernize-use-trailing-return-type,
        -readability-function-size,
        -readability-function-cognitive-complexity,
        -readability-identifier-length,
        -readability-redundant-access-specifiers,
        -readability-uppercase-literal-suffix,
        -cert-dcl16-c,
        -fuchsia-statically-constructed-objects,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -cppcoreguidelines-owning-memory,
        -fuchsia-trailing-return,
        -abseil-string-find-str-contains,
        -cppcoreguidelines-pro-type-vararg,
        -hicpp-vararg,
        -google-upgrade-googletest-case,
        '

CheckOptions:
  - key: hicpp-special-member-functions.AllowSoleDefaultDtor
    value: 1
  - key: readability-qualified-auto.AddConstToQualified
    value: false
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: true

WarningsAsErrors: '*'

HeaderFilterRegex: '.*(h|hpp|hxx)$'
